<!-- Custom HTML site displayed as the Home chapter -->

{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<style>
    img {
        border-radius: 20%;
    }
    .md-main {
        flex-grow: 0
    }

    .md-main__inner {
        display: flex;
        height: 100%;
    }

    .tx-container {
        padding-top: .0rem;
        background: linear-gradient(to bottom, var(--md-primary-fg-color), hsla(160deg,47%,55%,1) 99%,#fff 99%)
    }

    .tx-hero {
        margin: 32px 2.8rem;
        color: var(--md-primary-bg-color);
        justify-content: center;
    }

    .tx-hero h1 {
        margin-bottom: 1rem;
        color: currentColor;
        font-weight: 700
    }

    .tx-hero__content {
        padding-bottom: 1rem;
        margin: 0 auto;
    }

    .tx-hero__image{
        width:17rem;
        height:17rem;
        order:1;
        padding-right: 2.5rem;
    }

    .tx-hero .md-button {
        margin-top: .5rem;
        margin-right: .5rem;
        color: var(--md-primary-bg-color)
    }

    .tx-hero .md-button--primary {
        background-color: var(--md-primary-bg-color);
        color: hsla(280deg, 37%, 48%, 1);
        border-color: var(--md-primary-bg-color)
    }

    .tx-hero .md-button:focus,
    .tx-hero .md-button:hover {
        background-color: var(--md-accent-fg-color);
        color: var(--md-default-bg-color);
        border-color: var(--md-accent-fg-color)
    }

    .feature-item h2 svg {
        height: 30px;
        float: left;
        margin-right: 10px;
        transform: translateY(10%);
    }

    .top-hr {
        margin-top: 42px;
    }

    .feature-item {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        box-sizing: border-box;
        padding: 0 15px;
        word-break: break-word
    }

    .feature-item h2 {
        color: #333;
        font-weight: 300;
        font-size: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: inherit;
    }

    .feature-item p {
        font-size: 16px;
        line-height: 1.8em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        color: #111;
        margin: 0 0 10px;
        display: block;
    }

    @media screen and (max-width:30em) {
        .tx-hero h1 {
            font-size: 1.4rem
        }
    }

    @media screen and (min-width:60em) {
        .md-sidebar--secondary {
            display: none
        }

        .tx-hero {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .tx-hero__content {
            max-width: 22rem;
            margin-top: 3.5rem;
            margin-bottom: 3.5rem;
            margin-left: 1.0rem;
            margin-right: 4.0rem;
            align-items: center;
        }
    }

    @media screen and (min-width:76.25em) {
        .md-sidebar--primary {
            display: none
        }

        .top-hr {
            width: 100%;
            display: flex;
            max-width: 61rem;
            margin-right: auto;
            margin-left: auto;
            padding: 0 .2rem;
        }

        .bottom-hr {
            margin-top: 10px;
            width: 100%;
            display: flex;
            max-width: 61rem;
            margin-right: auto;
            margin-left: auto;
            padding: 0 .2rem;
        }

        .feature-item {
            flex: 1;
            min-width: 0;
        }

        .feature-item:hover {
            background-color: #526cfe47;
            border-radius: 3px;
        }
    }

    .hr {
        border-bottom: 1px solid #eee;
        width: 100%;
        margin: 20px 0;
    }

    .text-center {
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        font-family: 'Lato', sans-serif;
        font-size: 23px;
        font-weight: 300;
        padding-bottom: 10px;
    }

    .logos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        margin: 0 auto;
    }

    .logos img {
        flex: 1 1 auto;
        padding: 25px;
        max-height: 130px;
        vertical-align: middle;
    }

    .hr-logos {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .md-footer-meta__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 1.0rem;
    }

    .md-footer-social {
        padding-top: 20px;
    }

    .music-player {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        background-color: #f5f5f5;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        padding: 0 20px;
    }

    #play-pause-button {
        background-color: #2196F3;
        color: white;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.2s ease;
    }

    #play-pause-button:hover {
        background-color: #0D47A1;
    }

    #play-pause-button.playing {
        background-color: #F44336;
    }

    #play-pause-button.playing:hover {
        background-color: #B71C1C;
    }


</style>

<!-- Main site Entry button descriptions -->
<section class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-hero">
        <div class="tx-hero__image">
            <a href="https://www.youtube.com/watch?v=wLChD9qHa9k">
                <img src="https://github.com/GreenH47/mynote/blob/main/overrides/avatar.png?raw=true" width= 300px height = 300px >
            </a>
        </div>
        <div class="tx-hero__content">
          <h1> Greenh47's Blog  </h1>
          <p>My personal blog welcome everyone!</p>
          <p>We never go out of style!</p>
          <p>Everyone should watch how gorgeous she is →→!</p>
          <a href="https://greenh47.github.io/mynote/about/about_index/" class="md-button md-button--primary">
            Get started
          </a>
          <a href="https://github.com/GreenH47" class="md-button">
            Go to GitHub
          </a>
        </div>
      </div>
    </div>
</section>
<div class="music-player">
    <audio id="audio-player" src="https://github.com/GreenH47/mynote/blob/main/overrides/style%20(mp3cut.net).mp3?raw=true" autoplay></audio>
    <button id="play-pause-button">Pause</button>
</div>
<script>
    var audioPlayer = document.getElementById("audio-player");
    var playPauseButton = document.getElementById("play-pause-button");

    playPauseButton.addEventListener("click", function() {
      if (audioPlayer.paused) {
        audioPlayer.play();
        playPauseButton.classList.add("playing");
        playPauseButton.innerHTML = "Pause";
      } else {
        audioPlayer.pause();
        playPauseButton.classList.remove("playing");
        playPauseButton.innerHTML = "Play";
      }
    });
</script>

<!-- Main site box descriptions -->
<div class="top-hr">
    <div class="feature-item">
        <h2>
            <img src="https://cdn-icons-png.flaticon.com/512/942/942748.png" width= 35px height = 35px>
            <a href="https://greenh47.github.io/mynote/about/about_me/">
                About me
            </a>
        </h2>
        <p>My contact information and my technology stack</p>
        
    </div>

    <div class="feature-item">
        <h2>
            <img src="https://cdn-icons-png.flaticon.com/512/70/70035.png" width= 35px height = 35px>
            <a href="https://greenh47.github.io/mynote/course_notes/course_note_menu/">
                Course study note
            </a>
        </h2>
        <p>My course note for master of IT in Monash university,
            And other online course note</p>
        
    </div>

    <div class="feature-item">
        <h2>
            <img src="https://cdn-icons-png.flaticon.com/512/1197/1197460.png" width= 35px height = 35px>
            <a href="https://greenh47.github.io/mynote/about/about_index/#programming-note">
                Programming note
            </a>
        </h2>
        <p>My note for Programming includes leetcode and reactJS</p>
    </div>

    <div class="feature-item">
        <h2>
            <img src="https://cdn-icons-png.flaticon.com/512/4582/4582090.png" width= 35px height = 35px>
            <a href="https://greenh47.github.io/mynote/career/career_note_menu/">
                Career note
            </a>
        </h2>
        <p>My note for career like interview and profile</p>
    </div>

    
</div>

<div class="top-hr">
    <div class="hr">
    </div>
</div>


{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
